*{
	margin: 0;
	
}

body{
	background-color: #008080;
	font-family: 'oswald',sans-serif;
	background-size: cover;
	}

.container{
	    width:1170px;
	    margin:0 auto;
	    
	    }

nav   {   
        background-color:rgba(79,33,239, .8); 
	    height: 50px;
	    border: 2px solid #000;
        }
	
.leftpane{
          background-color:rgba(170,115,240, .5);
          height: 850px;
          width: 25%;
          float: left;
          text-align: center;
          font-size: 50px;
          }

.center{
        height:850px;
        width:50%;
        float: left;
       }

 .prebody{
          background-color: rgba(158,172,241, .8);
          height: 100px;
          text-align: center;
          font-size: 50px;
          }
 .body {
 	     background-color:rgba(188,217,243, .8);
 	     height: 650px;
 	     text-align: center;
 	     font-size: 50px;
       }

 .postbody{
 	       background-color: rgba(158,172,241, .8);
 	       height: 100px;
 	       text-align: center;
 	       font-size: 50px;
          }

 .rightpane{
 	        background-color: rgba(170,115,240, .5);
 	        height: 850px;
 	        width: 25%;
 	        float: left;
 	        text-align: center;
 	        font-size: 50px;
 	        }
 .footer{

 	        background-color: rgba(79,33,239 .8);
 	        width: 100%;
 	        margin-top: 850px;
 	        height: 60px;
 	        text-align: center;
 	        font-size: 50px;
 	        border: 1px solid #000;
        }

 nav   {
           height:50px;
       }

nav ul{
          list-style: none;
          margin-top: 15px;
          position: absolute;
        }

 nav ul li{

 	       display: inline;
 	       margin-right: 30px;
 	       color: white;
 	       padding: 10px 15px;
          }

nav ul li:hover
            {
	        cursor:pointer;
	        background-color: #9EACF1;
	        margin-top: 50px;
	        border-radius: 15px;
	        transition: 0.4s;
	        box-shadow: 2px 2px 5px #000;
           }

                                                        
